@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
* {
    margin: 0;
    padding: 0;
}
h1 , p {
    color: rgb(170, 56, 170);
}
body {
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
}
.card header {
    
}
.card .header h2{
    text-align: center;
    margin: auto;
    margin-bottom: 8px;
    text-shadow: 1px 1px 1px rgb(136, 136, 136);
}
.card {
    margin-top: 20px;
    width: 300px;
    height: 570px;
   margin: auto;
   padding-top: 5px;
   background-image: linear-gradient(to right, #a8edea , #fed6e3);
   border: 1px solid black;
   border-radius: 10px;
}
.link {
    margin-bottom: 10px;
    text-align: center;
    margin: auto;
    width: 100px;
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    border: 1px solid black;
    margin-top: 5px;
    border-radius: 15px;
}
.link:hover{
    background-image: linear-gradient(to top, #04befe 0%, #4481eb 100%);
}
.link a {
    color: white;
}
.day {
   text-decoration: none;
}
